<!-- start custom footer snippets -->
<!-- cookie notice https://cookieconsent.insites.com/ -->
<script>
window.addEventListener("load", function(){
console.log(window.cookieconsent)
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#3a3e42"
    },
    "button": {
      "background": "#3e8296"
    }
  },
  "theme": "classic",
  "content": {
    "message": "Webseite verwendet Cookies. Unerwünscht? Dann dem Link folgen und Lernen, das Tracking zu deaktivieren!.",
    "dismiss": "OK",
    "deny": "Cookies ablehnen!",
    "link": "Mehr erfahren...",
    "href": "/impressum-datenschutz/"
  }
})});
</script>
<!-- end custom footer snippets -->