/* FOR SPLASH */
body.layout--splash {
  margin-bottom: 0 !important;
}

html, body {
  height: 100% !important;
}

.page__hero {
  &--overlay {
    margin-bottom: 0 !important;
    height: 83% !important;
  }
}