<!-- start custom analytics snippet -->
<!-- cookie notice in head/custom.html https://cookieconsent.insites.com/ -->
<!-- https://developer.matomo.org/guides/tracking-javascript-guide#asking-for-consent -->
<!-- https://piwik.holgerkral.de/index.php?module=PrivacyManager&action=consent&idSite=2&period=day&date=yesterday&showtitle=1&random=7452 -->
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  var cookieStr = 'cookieconsent_status'; 
  var disableStr = cookieStr + '=deny'; 
  if (document.cookie.indexOf(cookieStr) > -1) {
    if(document.cookie.indexOf(disableStr) > -1) { 
      window[disableStr] = true;
      _paq.push(['disableCookies']);
    } else {
      window[disableStr] = false;
    }
  } else {
    _paq.push(['disableCookies']);
    window[disableStr] = true;
  }
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.holgerkral.de/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<!-- end custom analytics snippet
