
figure.highlight code, figure.highlight pre{color:#fdce93;background-color:#3f3f3f}
figure.highlight .hll{background-color:#222}
figure.highlight .c{color:#7f9f7f}
figure.highlight .err{color:#e37170;background-color:#3d3535}
figure.highlight .g{color:#7f9f7f}
figure.highlight .k{color:#f0dfaf}
figure.highlight .l{color:#ccc}
figure.highlight .n{color:#dcdccc}
figure.highlight .o{color:#f0efd0}
figure.highlight .x{color:#ccc}
figure.highlight .p{color:#41706f}
figure.highlight .cm{color:#7f9f7f}
figure.highlight .cp{color:#7f9f7f}
figure.highlight .c1{color:#7f9f7f}
figure.highlight .cs{color:#cd0000;font-weight:bold}
figure.highlight .gd{color:#cd0000}
figure.highlight .ge{color:#ccc;font-style:italic}
figure.highlight .gr{color:red}
figure.highlight .gh{color:#dcdccc;font-weight:bold}
figure.highlight .gi{color:#00cd00}
figure.highlight .go{color:gray}
figure.highlight .gp{color:#dcdccc;font-weight:bold}
figure.highlight .gs{color:#ccc;font-weight:bold}
figure.highlight .gu{color:purple;font-weight:bold}
figure.highlight .gt{color:#0040D0}
figure.highlight .kc{color:#dca3a3}
figure.highlight .kd{color:#ffff86}
figure.highlight .kn{color:#dfaf8f;font-weight:bold}
figure.highlight .kp{color:#cdcf99}
figure.highlight .kr{color:#cdcd00}
figure.highlight .kt{color:#00cd00}
figure.highlight .ld{color:#cc9393}
figure.highlight .m{color:#8cd0d3}
figure.highlight .s{color:#cc9393}
figure.highlight .na{color:#9ac39f}
figure.highlight .nb{color:#efef8f}
figure.highlight .nc{color:#efef8f}
figure.highlight .no{color:#ccc}
figure.highlight .nd{color:#ccc}
figure.highlight .ni{color:#c28182}
figure.highlight .ne{color:#c3bf9f;font-weight:bold}
figure.highlight .nf{color:#efef8f}
figure.highlight .nl{color:#ccc}
figure.highlight .nn{color:#8fbede}
figure.highlight .nx{color:#ccc}
figure.highlight .py{color:#ccc}
figure.highlight .nt{color:#9ac39f}
figure.highlight .nv{color:#dcdccc}
figure.highlight .ow{color:#f0efd0}
figure.highlight .w{color:#ccc}
figure.highlight .mf{color:#8cd0d3}
figure.highlight .mh{color:#8cd0d3}
figure.highlight .mi{color:#8cd0d3}
figure.highlight .mo{color:#8cd0d3}
figure.highlight .sb{color:#cc9393}
figure.highlight .sc{color:#cc9393}
figure.highlight .sd{color:#cc9393}
figure.highlight .s2{color:#cc9393}
figure.highlight .se{color:#cc9393}
figure.highlight .sh{color:#cc9393}
figure.highlight .si{color:#cc9393}
figure.highlight .sx{color:#cc9393}
figure.highlight .sr{color:#cc9393}
figure.highlight .s1{color:#cc9393}
figure.highlight .ss{color:#cc9393}
figure.highlight .bp{color:#efef8f}
figure.highlight .vc{color:#efef8f}
figure.highlight .vg{color:#dcdccc}
figure.highlight .vi{color:#ffffc7}
figure.highlight .il{color:#8cd0d3}
