/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  /* sticky footer fix start */
  position: absolute;
  bottom: 0;
  height: auto;
  /* sticky footer fix end */
  margin-top: 3em;
  color: $muted-text-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: $footer-background-color;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: $muted-text-color;
  }

  
  .logo-flex {
    display: flex;
    float: right;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: 2em;
    margin-right: 6em;

    .logo-netlify {
      padding-left: 5px;
      padding-right: 5px;

      @include breakpoint($x-small) {
        padding-left: 30px;
        padding-right: 30px;
      }

      & img {
        border: 1px solid #bdc1c4;
        border-radius: 4px;
        opacity: 0.9;
        height: 50px;
      }
    }

    .logo-rebellion {
      padding-left: 0;
      padding-right: 0;
      opacity: 0.9;

      & img {
        border: 1px solid #bdc1c4;
        border-radius: 4px;
        opacity: 0.9;
        width: 50px;
        height: 50px;
        padding: 0.3em;
        background-color: #fff;
      }
    }

    @include breakpoint($x-small) {
      padding-top: 2em;
    }

    @include breakpoint($xx-large) {
      padding-top: 0;
      margin-right: 0;
    }
     
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-7;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
