/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 16 !default;

/* paragraph indention */
$paragraph-indent: false !default; // true, false (default)
$indent-var: 1.3em !default;

/* system typefaces */
$serif                      : "GoudyBookletter1911Regular", Georgia, Times, serif !default;
$sans-serif                 : "SuperGroteskA", "Lato", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                  : "Hack", "Lucida Console", monospace !default;
$caption                    : "SuperGroteskA", "Lato", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$citation                   : "Montserrat", "Lato", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif !default;
$supergrotesk               : "SuperGroteskA", sans-serif !default;
$montserrat                 : "Montserrat", sans-serif !default;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$goudybook                  : "GoudyBookletter1911Regular", serif !default;
$georgia                    : Georgia, serif !default;
$times                      : Times, serif !default;
$bodoni                     : "Bodoni MT", serif !default;
$calisto                    : "Calisto MT", serif !default;
$garamond                   : Garamond, serif !default;

/* title */
$titlefont                  : "GoudyBookletter1911Regular", "Calisto MT", "Bodoni MT", Georgia, Times, serif !default;

$title-font-family          : $titlefont !default;
$global-font-family         : $serif !default;
$header-font-family         : $sans-serif !default;
$caption-font-family        : $caption !default;

/* type scale */
$type-size-1                : 3.441em !default;  // ~39.056px
$type-size-2                : 2.953em !default;  // ~31.248px
$type-size-3                : 2.563em !default;  // ~25.008px
$type-size-35               : 2.2em !default;  // ~25.008px
$type-size-4                : 2em !default;   // ~20px
$type-size-5                : 1.7em !default;      // ~16px
$type-size-6                : 1.1em !default;   // ~12px
$type-size-61               : 1em !default;   // ~12px Hidden navi
$type-size-65               : 0.9em !default;   // ~12px
$type-size-65emb            : 0.8em !default;   // ~12px
$type-size-7                : 0.6875em !default; // ~11px
$type-size-8                : 0.625em !default;  // ~10px
$type-size-9                : 0.4em !default;  // ~8px

/*
   Colors
   ========================================================================== */

$gray                       : #7a8288 !default;
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$middle-gray                : mix(#fff, $gray, 25%) !default;
$light-gray                 : mix(#fff, $gray, 50%) !default;
$lighter-gray               : mix(#fff, $gray, 90%) !default;
$lightest-gray              : mix(#fff, $gray, 93%) !default;

$title-color                : #225072 !default;
$body-color                 : #fff !default;
$background-color           : #fff !default;
$code-background-color      : #3f3f3f !default;
$code-background-color-dark : $light-gray !default;
$code-comment               : #5f9cac !default;
$text-color                 : $dark-gray !default;
$border-color               : $lighter-gray !default;
$muted-text-color           : mix(#fff, gray, 25%) !default;
$form-background-color      : $lighter-gray !default;
$footer-background-color    : $lighter-gray !default;

$primary-color              : #7a8288 !default;
$success-color              : #62c462 !default;
$warning-color              : #c3284d !default;
$danger-color               : #ee5f5b !default;
$info-color                 : #52adc8 !default;
$focus-color: $primary-color !default;

$gradient                   : top, #fd1892 0%, #fec837 13%, #b8fd33 25%, #2c90fc 36%, #b827fc 50%, #2c90fc 63%, #b8fd33 75%, #fec837 88%, #fd1892 100%;
$rainbow                    : #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $dark-gray !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* brands */
$social-color               : #494e52 !default;
$bitbucket-color            : $social-color;
$behance-color              : $social-color;
$dribbble-color             : $social-color;
$facebook-color             : $social-color;
$flickr-color               : $social-color;
$foursquare-color           : $social-color;
$github-color               : $social-color;
$gitlab-color               : $social-color;
$google-plus-color          : $social-color;
$instagram-color            : $social-color;
$lastfm-color               : $social-color;
$linkedin-color             : $social-color;
$mastodon-color             : $social-color;
$pinterest-color            : $social-color;
$reddit-color               : $social-color;
$rss-color                  : $social-color;
$soundcloud-color           : $social-color;
$stackoverflow-color        : $social-color;
$tumblr-color               : $social-color;
$twitter-color              : $social-color;
$vimeo-color                : $social-color;
$vine-color                 : $social-color;
$youtube-color              : $social-color;
$xing-color                 : $social-color;

/* links */
$link-color: mix(#000, $info-color, 15%) !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;

/* syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

/* decoration */
$decoration-color           : $link-color !default;

/*
   Breakpoints
   ========================================================================== */

$x-small                    : 420px !default;
$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 1024px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

/*
   Other
   ========================================================================== */

$border-radius                : 4px !default;
$box-shadow                   : 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$navicon-width                : 1.5rem !default;
$navicon-height               : 0.25rem !default;
$nav-height                   : 2em !default;
$nav-toggle-height            : 2rem !default;
$global-transition            : all 0.2s ease-in-out !default;
$intro-transition             : intro 0.3s both !default;

$main-margin-top-wbc        : 2em !default;
$hero-margin-bottom-wbc     : 1.5em !default;
$main-margin-top-wobc       : 3em !default;
$hero-margin-bottom-wobc    : 2em !default;

$image-text-width           : 250px !default;
